*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #1A0B2E;
}


.container {
  max-width: 1600px;
  margin: 0px auto;
  background: #1A0B2E;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0px auto;
  background: #1A0B2E;
  color: white;
  align-items: center;
  padding-left: 12.5%;
  padding-right: 12.5%;
  border-bottom: 1px solid #412567;

}

nav .logo h1{
  font-size: 40px;
  padding-top: 30px;
  padding-bottom:30px;
  font-weight: bolder;
}

nav .logo h1 span{
   background: linear-gradient(10deg, #F7E93F ,#FB09B4 ,#9100F8 );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
nav .menu{
  display: flex;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  gap: 32px;
  align-items: center;
}

nav .menu li a{
  text-decoration: none;
  color: white;
  
}


.hamburger-menu {
  display: none;
}

nav .button{
    list-style: none;
}

nav .button .gradientBtn{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gradientBtn {
  background: linear-gradient(20deg, #F7E93F 15% ,#FB09B4 50%,#9100F8 100%);
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}

.hero{
  background-image: url('./images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  
}

.hero .hero-content{
  margin-top: 101px;
}
.hero .outer-image{
  background-image: url('./images/hero-circle.png');
  aspect-ratio: 1 / 1;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  width: 65%;
  justify-self:center;
  text-align: center;
}

.badge {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  background: #00FF88;
  color: black;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3); 
    }
    100% {
        transform: scale(1);
    }
}


.badge {
    animation-name: pulse;
    animation-duration: 2s;        
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}






.hero .hero-text{
  margin-top: 40px;
}

.hero .hero-text h1{
  font-size: 60px;
  font-weight: 700;
  color: white;
}
.hero .hero-text p{
  margin-top: 16px;
  color: white;
  font-weight: lighter;
}
.hero .hero-buttons{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 101px;
}
.hero .hero-buttons .gradientBtn{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
.hero .hero-buttons .btn{
  border: 1px solid #00FF88;
  color: #00FF88;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.about{
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px 200px;
  padding-bottom: 120px;
  text-align: center;
  background-color: #1A0B2E;
}

.about .about-text h2{
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
  margin-bottom: 16px;
}

.about .about-text p{
  color: white;
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid #412567;
}

.about .about-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-top: 80px;
}

.about .about-cards h4{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}
.about .about-cards p{
  color: white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}
.features{
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 200px;
  background-color: #230E3D;
}

.features h2{
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.features h4{
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
} 
.features p{
  color: white;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 16px;
}
.features .features-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card{
  background-color: #351165;
  border-radius: 16px;
  padding: 40px;
}
.tall-card{
  grid-row: span 2;
  padding-top: 107.5px;
}
.fat-card{
  grid-column: span 2;
  padding-bottom: 40px;
}

.featured-episodes{
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 200px;
  background-color: #1A0B2E;
}


.featured-episodes h2{
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.episodes-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.featured-episodes .episode-card{
  background-color: #250D44;
  border-radius: 20px;
  max-height: 440px;
}

.featured-episodes .episode-card .text{
  padding: 24px;
  color: white;
  text-align: left;
}
.featured-episodes .episode-card .text h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.featured-episodes .episode-card .text p{
  font-size: 16px;
  font-weight: lighter;
  margin-top: 12px;
}

.featured-episodes .episode-card iframe{
  height: 214px;
}

.featured-episodes .green-text{
  color: #00FF88;
}

.host{
  margin-top: 120px;
}

.host h2{
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.host .host-content{
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 24px;
  background-color: #230E3D;
  border-radius: 16px;
  padding: 40px;
}
.host .host-content img{
  width: 100%;
}
.host .host-content .host-text{
  color: white;
  text-align: left;
  margin-top: 8.5px;
  font-weight: lighter;
}

.host .host-content .host-text h3{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.host .host-content .host-text .buttons{
  margin-top: 24px;
  display: flex;
  gap: 8px;
}
.host .host-content .host-text .buttons a{
  border: 1px solid #533C72;
  border-radius: 50%;
  padding: 10px;
}
.host .host-content .host-text .buttons a img{
  width: 16px;
  height: 16px;
}

footer{
  background-image: url(./images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px;
}

footer .footer-content{
  text-align: center;
}
footer .footer-content .footer-links{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 18px;
  margin-bottom: 32px;
}
footer .footer-content .footer-links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}
footer .footer-content h1{
  font-size: 52px;
  font-weight: bolder;
  color: white;
  margin-bottom: 0px;
}

footer .footer-content h1 span{
  background: linear-gradient(10deg, #F7E93F ,#FB09B4 ,#9100F8 );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
footer .footer-bottom{
  margin-top: 32px;
  color: white;
  font-size: 14px;
  font-weight: lighter;
}

/* Small devices (up to 576px) */
@media (max-width: 576px) {
  .container{
    max-width: 576px;
    font-size: 3.8vw;
  }
  .hamburger-menu {
    display: block;
    max-width: 24px;
    max-width: 24px;
  }
  nav .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
  }
  nav .button {
    display: none;
  }
  nav {
    max-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  nav .logo h1 { 
   font-size: 24px;
  } 

  .hero {
    background-size: contain;
    background-position: top center;
    padding: 0 16px;
    max-width: 100%;
    align-items: flex-start;   
    margin-top: 40px;
  }

  .hero .hero-content {
    margin-top: 0;
  }

 
  .hero .outer-image {
    width: 45%;
    max-width: 200px;
    margin: 0 auto;
  }

  
  .badge {
    top: 14px;
    right: 14px;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 700;
  }

  .hero .hero-text h1 {
    font-size: 40px;
    margin-top: 24px;
  }
  .hero .hero-text p {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .hero .hero-buttons{
    margin-bottom: 9.09vw;
  }
 
  .hero .hero-buttons .gradientBtn{
    font-size: 3vw;
    white-space: nowrap;
  }
 
  .hero .hero-buttons .btn{
    font-size: 3vw;
    white-space: nowrap;
  }
  .about{
    padding-left: 20px;
    padding-right: 20px;
  }

  .about .about-text h2{
    font-size: 32px;
    margin-bottom: 16px;
  }
  .about .about-cards{
    grid-template-columns: 1fr 1fr; /* Creating two columns for on Small screens */
    gap: 40px;
  }
  .features{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .features h2{
    font-size: 32px;
  }
  .features .features-grid{
    grid-template-columns: 1fr;/* Creating One columns on Small screens */
    gap: 16px;
  }
  .tall-card {
    grid-row: auto;
    padding-top: 40px;
  }
  .fat-card {
    grid-column: auto;
  }

  .featured-episodes{
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 40px;
    max-width: 100%;
  }
 
  .featured-episodes h2{
    font-size: 32px;
  }
  .episodes-grid{
    grid-template-columns: 1fr; /* Creating One columns on Small screens */
    gap: 16px;
    justify-items: center;
  }
  .episode-card{
    max-width: 100%;
    width: 100%;
  }
  .host{
    margin-top: 40px;
  }
  .host h2{
    font-size: 32px;
  }
  .host .host-content{
    grid-template-columns: 1fr; /* one column layout on Small screens */
  }
  .host .host-content img{
    width: 50%;
    margin: 0 auto;
  }
  .host .host-content .host-text{
    text-align: center;
    margin-top: 16px;
  }
  .host .host-content .buttons {
    justify-content: center;
  }
  footer {
    background-image: url('./images/Footer.png');
    padding: 40px 20px;
    margin-top: -40px;
  }
  footer .footer-content h1 {
    font-size: 44px;
  }
  footer .footer-content .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 16px;
    margin-left: 72.5px;
    margin-right: 72.5px;
  }
}

/* Large devices (992px and above) */
@media (min-width: 992px) {
  
  .container {
    max-width: 1600px;
    margin: 0 auto;   
  }
}


